html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}
* {
  box-sizing: border-box;
}

.home-page {
  margin: 20px;
}

.home-link {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  font-size: 2rem;
  color: blue;
}

.image-smear-page {
  margin: 0;
}

.image-smear-page p {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.image-smear-page canvas {
  cursor: crosshair;
}

.image-smear-page canvas:active {
  cursor: grabbing;
}

.marquee-wrapper {
  display: block;
  width: 100%;
  font-size: 10vw;
  white-space: nowrap;
  text-transform: uppercase;
  overflow: hidden;
  font-family: sans-serif;
}
/* 
.marquee-wrapper:hover .marquee-inner {
  animation-play-state: paused;
  background: black;
  color: white;
} */

.marquee-inner,
.marquee-inner div {
  display: inline-block;
}

.marquee-inner {
  animation: marquee 20s infinite linear;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}


.dvd-page {
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
}

.dvd-page .dvd {
  position: absolute;
  width: 10rem;
  height: 10rem;
  color: black;
  font-size: 2rem;
  font-family: sans-serif;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}