html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}
* {
  box-sizing: border-box;
}

.home-page {
  margin: 20px;
}

.home-link {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  font-size: 2rem;
  color: blue;
}

.image-smear-page {
  margin: 0;
}

.image-smear-page p {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.image-smear-page canvas {
  cursor: crosshair;
}

.image-smear-page canvas:active {
  cursor: grabbing;
}

.marquee-wrapper {
  display: block;
  width: 100%;
  font-size: 10vw;
  white-space: nowrap;
  text-transform: uppercase;
  overflow: hidden;
  font-family: sans-serif;
}
/* 
.marquee-wrapper:hover .marquee-inner {
  animation-play-state: paused;
  background: black;
  color: white;
} */

.marquee-inner,
.marquee-inner div {
  display: inline-block;
}

.marquee-inner {
  animation: marquee 20s infinite linear;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}


.dvd-page {
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
}

.dvd-page .dvd {
  position: absolute;
  width: 10rem;
  height: 10rem;
  color: black;
  font-size: 2rem;
  font-family: sans-serif;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dvd-page .dvd-ball {
  position: absolute;
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  background: transparent !important;
}

.large-cursor {
  cursor: url("/cursor-default.png"), auto !important;
}

.large-cursor a,
.large-cursor button,
.large-cursor input,
.large-cursor label {
  cursor: url("/cursor-pointer.png"), pointer !important;
}

.threed-page {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg, #bfbfbf 25%, transparent 25%),
  linear-gradient(-45deg, #bfbfbf 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, #bfbfbf 75%),
  linear-gradient(-45deg, transparent 75%, #bfbfbf 75%);
  background-size: 20px 20px;
  background-position: 0 0,
  0 10px,
  10px -10px,
  -10px 0px;
  cursor: grab;
}

.text-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-family: sans-serif;
  font-size: 10vw;
}

.text-page .text-wrapper {
  cursor: pointer;
}

.text-page .text-wrapper span {
  display: inline-block;
}

.green {
  background: green;
}


.iframe-cube-page .scene {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vw;
  perspective: 600px;
}

.iframe-cube-page .cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s ease-in-out;
}

.iframe-cube-page iframe {
  width: 100%;
  height: 100%;
}

.iframe-cube-page .cube__face {
  position: absolute;
  width: 20vw;
  height: 20vw;
  background: rgba(0,255,0,0.9)
}

.cube__face--front  { transform: rotateY(  0deg) translateZ(10vw); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(10vw); }
.cube__face--back   { transform: rotateY(180deg) translateZ(10vw); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(10vw); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(10vw); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(10vw); }

.cube[data-side="front"]  { transform: translateZ(-100px) rotateY(   0deg); }
.cube[data-side="right"]  { transform: translateZ(-100px) rotateY( -90deg); }
.cube[data-side="back"]   { transform: translateZ(-100px) rotateY(-180deg); }
.cube[data-side="left"]   { transform: translateZ(-100px) rotateY(  90deg); }
.cube[data-side="top"]    { transform: translateZ(-100px) rotateX( -90deg); }
.cube[data-side="bottom"] { transform: translateZ(-100px) rotateX(  90deg); }

.iframe-cube-page .radio-group {
  position: fixed;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

.MYRIAD-page {
  background: url('/stars-publ.bmp');
}
.MYRIAD-page svg {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: 20vw;
}

.sweater-page {
  font-size: 2vw;
  text-align: center;
  padding: 4rem 0;
  font-weight: 500;
}

.sweater-page > div {
  max-width: 43vw;
  margin: auto;
}

.sweater-page .red {
  font-size: 4vw;
  text-transform: uppercase;
  color: red;
}

.sweater-page .eq {
  text-align: right;
  color: blue;
  font-family: serif;
  font-style: italic;
}