.home-page {
  font-size: 2rem;
  transform: scaleY(1.5) translateY(15%);
}

.home-page h1{
  font-weight: normal;
  font-family: sans-serif;
}
a {
  font-family: sans-serif;
  color: blue;
}

.home-page table {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.home-page footer {
  display: flex;
  justify-content: space-between;
}